# ---- Django ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
env/
venv/
*.env
.env.*
*.log
/static/
/media/
local_settings.py
settings_local.py
.DS_Store
Thumbs.db
*.egg-info/
*.egg
.vscode/
.idea/
*~
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd

# ---- React Native ----
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
android/.gradle/
android/app/build/
ios/build/
ios/Pods/
metro.config.js
.env
.env.*
*.log
tmp/
temp/
*.tmp
__tests__/coverage/
.vscode/
.idea/
*.swp
*~
ios/Podfile.lock
